<div class="col-xs-10 col-xs-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading-title panel-heading form-view">
      <h2 class="panel-title left">User Listing</h2>
      <span class="glyphicon glyphicon-th right"></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="people"></div>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  if(!$('.data-table-component').length) {
    $.ajax({
    url: 'users.json',
    type: 'GET'
  }).done(function(data) {
    Library.generateDataTable({
      data: data,
      columns: [
        {'data': 'id'},
        { 'render': function (a, a, row) {
          return '<a href="/users/' + row.id + '">' + row.l_name + ', ' + row.f_name  + '</a>';
            }
        },
        {
          'render': function (a, a, row) {
            return moment(new Date(row.dob)).format('LL');
          }
        },
        {'data': 'phone'},
        {'data': 'email'},
        {'render': function (a, a, row) {
            return moment(new Date(row.created_at)).format('LL');
          }
        },
        {'render': function (a, a, row) {
            return moment(new Date(row.updated_at)).format('LL');
          }
        },
        { 'render': function (a, a, row) {
          return '<a href="/users/' + row.id + '/edit"><span class="glyphicon glyphicon-pencil"></span></a>';
            },
          'sorting': false
        },
        { 'render': function (a, a, row) {
          return '<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/users/' + row.id + '"><span class="glyphicon glyphicon-trash"></span></a>';
          },
          'sorting': false
        }
      ],
      headers: ['ID', 'Full Name', 'DOB', 'Phone Number', 'Email', 'Created', 'Last Updated', 'Edit', 'Delete'],
      container: '.people',
      buttons: [{'path': 'users/new', 'title': 'New User'}]
    });
  });
  }
});
 </script>