.data-table-component {
  margin-top: 20px;
  
  .dataTables_scrollBody {
    table tbody tr {
      &:nth-child(odd) {
        background-color: rgba(69,177,232,0.03);
      }
      
      td {
        border: none;
      }
    }
  }
  
  .glyphicon {
    padding-left: 8px;
  }
  
  .glyphicon-trash {
    color: red;
    padding-left: 12px;
  }
  
  .paginate_button {
    padding: 0 3px;
  }
  
  .dt-buttons {
    float: right;
  }
}

.dataTables_info {
  padding-top: 0 !important;
}

.dt-info-container {
  margin-top: 20px;
}

.dataTables_paginate {
  a.paginate_button {
    background-color: #fff;
    border: 1px solid #646569 !important;
    color: #646569 !important;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 12px;
    border-right: none !important;
  }
  
  a.paginate_button,
  a.previous,
  a.next {
    &:hover {
      color: #33b5e5 !important;
    }
  }
  
  a.click-disabled,
  a.disabled {
    pointer-events: none;
    color: #ccc !important;
  }
  
  a.current {
    color: #fff !important;
    background-color: #45b1e8 !important;

    &:hover {
       color: #fff !important;
      background-color: #45b1e8 !important;
    }

    &:focus {
      outline: none;
    }
  }
  
  a.next {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-right: 1px solid #646569 !important;
  }

  a.previous {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }
}

.dataTables_filter {
  label {
    float: left;
    
    .sb-search-icon {
      color: orange;
    }

    input {
      outline: none;
      border: none;
      border-bottom: 1px solid #eeeeee;
      padding: 5px 3px;
      
      &:hover{
        border-bottom-color: #ccc;
      }
      
      &:focus {
        border-bottom-width: 1.5px;
        border-bottom-color: #45b1e8;
      }
    }    
  }
}
